.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-hd-color);
  color: var(--main-ft-color);
  padding: 1.6rem 3rem;
}
.header__container > h1 > a {
  text-decoration: none;
  color: var(--main-ft-color);
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header__container h1 > a:hover,
.nav__container h2:hover {
  color: #fff;
  cursor: pointer;
}
